<?xml version="1.0" encoding="UTF-8"?>
<!--
 RenewlyWidget.entitlements
 RenewlyWidget

 Created by Md Mehedi Hasan Angkur on 2026-10-04.
 Copyright © 2026. All rights reserved.
-->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.beleiveinAllahRenewly.Renewly</string>
	</array>
</dict>
</plist>
